/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// importaomos archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";
@import "html/index";
@import "utilidades/extend";

section{
   //@include medidas(600px, 300px)
}

footer{
    //@include medidas(400px, 200px)
    background-image: url(../img/490x_pizza-dia-mundial-mejores-ocu-istock.jpg);
    display: block;
    text-align: center;
    @include letras(black, 1rem)
}